Source: firmware-atheros-nitrux
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/Nitrux/firmware-ar3k-nitrux


Package: firmware-atheros-nitrux
Architecture: amd64
Conflicts: firmware-ath9k-htc, firmware-atheros
Description: Firmware files for Qualcomm Atheros.
 This package includes firmware for various Atheros devices.
